<!DOCTYPE html >
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인덱스 페이지!</title>
</head>
<body>
<!--<p th:if="${loginMember != null}" th:text="|로그인 중(${loginMember.memberId})|">
    <form th:if="${member != null}" th:object="${memberDto}" method="post" th:action="@{/insertMember}">
        <label for="memberId">ID: </label>
            <input th:field="*{memberId}" id="memberId" name="memberId">
        <label for="password">비밀번호: </label>
            <input th:field="*{password}" id="password" name="password" type="password">
        <label for="email">이메일: </label>
            <input th:field="*{email}" id="email" name="email" type="email"  />
        <label for="phone">휴대폰: </label>
            <input th:field="*{phone}" id="phone" name="phone" type="tel">
        <label for="address">주소: </label>
            <input th:field="*{address}" id="address" name="address">
        <button>ㅇㅅㅇ!!!</button>
    </form>
</p>-->
<form th:if="${session.loginMember == null}" th:object="${memberDto}" th:action="@{/}" method="post">
	<label><input name="memberId" id="memberId" /></label>
	<br />
	<label><input name="password" id="password" type="password"/></label>
	<button>ㅇㅅㅇ</button>
</form>
<h1 th:unless="${session.loginMember == null}" th:text="${session.loginMember}"></h1>

<script th:if="${session.loginMember == null}" th:src="@{loginResult.js}"></script>
</body>
</html>
